@model Postworthy.Models.Web.Article

@{
    var PrimaryUser = Postworthy.Models.Account.UsersCollection.PrimaryUsers().Where(u => u.IsPrimaryUser).FirstOrDefault();
    ViewBag.Title = @Model.TaglessTitle();

    var guid = Guid.NewGuid().ToString();
    System.Web.HttpContext.Current.Cache[guid] = (Model.Images.FirstOrDefault() ?? "").Split(',').Skip(1).FirstOrDefault() ?? "";
}
@section meta{
    <meta name="twitter:card" data-page-subject="true" content="summary" />
    <meta name="twitter:title" data-page-subject="true" content="@Model.TaglessTitle()" />
    <meta name="twitter:description" data-page-subject="true" content="@Model.TaglessSubTitle()" />
    <meta name="twitter:image" data-page-subject="true" content="@Url.RouteUrl("default", new RouteValueDictionary(new { controller="home", action="image", id=guid }), Request.Url.Scheme, Request.Url.Host)" />
}
@{   
    Html.RenderPartial("_DefaultArticleTemplate", Model);
}
<div style="margin-top:20px" class="col-md-3 col-sm-3">
    @if (!string.IsNullOrEmpty(PrimaryUser.AdScript))
    {
        <span class="postIndex pull-left">Related</span>
        <hr style="clear: both;" />
        <div class="box" style="width:100%;overflow:hidden;padding: 5px 0px 5px 0px;">
            @Html.Raw(PrimaryUser.AdScript)
        </div>
    }
</div>