@model IEnumerable<Postworthy.Models.Web.Article>
@using Postworthy.Models.Core
@{
    var PrimaryUser = Postworthy.Models.Account.UsersCollection.PrimaryUsers().Where(u => u.IsPrimaryUser).FirstOrDefault();
    int page = ViewBag.Page;
    int pageSize = ViewBag.PageSize;
    int pageCount = ViewBag.PageCount;
    ViewBag.Title = (string.IsNullOrEmpty(ViewBag.Slug) ? "All " : ViewBag.Slug + " ") +  "Articles - Page " + (page + 1);
    int index = page * pageSize;
    int startIndex = pageCount > 10 && page > 9 ? page - 9 : 0;
}

<div class="col-sm-7 col-sm-offset-1">
    <span class="postIndex">Page @(page + 1) of @(pageCount)</span>
    <hr style="clear: both;" />
    @foreach (var item in Model)
    {
        <div class="post box" style="padding-bottom:20px;">
            <span class="postIndex2">@(++index)</span>
            @if (item.Images != null && item.Images.Count > 0 && !string.IsNullOrEmpty(item.Images.First()))
            {
                <div class="imageDiv" style="width:150px;height:150px;background-image: url('@item.Images.First()');border-bottom-left-radius:45px;border-bottom-right-radius:45px;border-top-left-radius:45px;">
                </div>
            }
            else
            {
                <div class="imageDiv" style="width:150px;height:150px;">
                    <img class="img" src="holder.js/150x150/text:IMG" />
                </div>
            }
            <a class="articleTitle" href="~/article/@(item.GetSlug())_@(item.ID())">
                @Html.Raw(item.TaglessTitle())
            </a>
            <p>
                @Html.Raw(item.TaglessSubTitle())
            </p>
            <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
        </div>
    }
    @if (pageCount > 1)
    {
        var slug = string.IsNullOrEmpty(ViewBag.Slug) ? "" : "tag/" + ViewBag.Slug.Replace("&", "").Replace(" ", "-").Replace(".", "-").ToLower() + "/";
        <div class="box col4 text-center">
            <ul class="pagination pagination-lg">
                <li @Html.Raw(page == 0 ? "class=\"disabled\"" : "")><a @Html.Raw(page == 0 ? "" : "href=\"" + Url.Content("~/articles/" + slug + (Convert.ToInt32(Math.Max(page - 1, 0)) == 0 ? "" : Convert.ToInt32(Math.Max(page - 1, 0)).ToString())) + "\"")>«</a></li>
                @for (int i = startIndex; i < pageCount && i < startIndex + 10; i++)
                {
                    <li @Html.Raw(page == i ? "class=\"active\"" : "")><a href="@Url.Content("~/articles/" + slug + (i == 0 ? "" : i.ToString()))">@(i + 1)</a></li>
                }
                <li @Html.Raw(page >= pageCount - 1 ? "class=\"disabled\"" : "")><a @Html.Raw(page >= pageCount - 1 ? "" : "href=\"" + Url.Content("~/articles/" + slug + (pageCount - 1).ToString()) + "\"")>@(page + 1) of @pageCount</a></li>
                <li @Html.Raw(page >= pageCount - 1 ? "class=\"disabled\"" : "")><a @Html.Raw(page >= pageCount - 1 ? "" : "href=\"" + Url.Content("~/articles/" + slug + (page + 1)) + "\"")>»</a></li>
            </ul>
        </div>
    }
</div>
<div class="col-md-3 col-sm-3">
    @if (!string.IsNullOrEmpty(PrimaryUser.AdScript))
    {
        <span class="postIndex pull-left">Related</span>
        <hr style="clear: both;" />
        <div class="box" style="width:100%;overflow:hidden;padding: 5px 0px 5px 0px;">
            @Html.Raw(PrimaryUser.AdScript)
        </div>
    }
    @if (ViewBag.Tags != null)
    {
        IEnumerable<string> tags = ViewBag.Tags;
        <span class="postIndex pull-left">Tags</span>
        <hr style="clear: both;" />
        <ul>
                <li><a href="~/articles" title="All">ALL</a></li>
            @foreach (var tag in tags)
            {
                <li>@Html.Raw(tag)</li>
            }
        </ul>
    }
</div>

@section scripts{
    <script src="~/Scripts/holder.js"></script>
}