@model Postworthy.Web.Models.FrontPageModel
@using Postworthy.Models.Twitter
@{
    DateTime date = DateTime.Now;
    ViewBag.Title = ViewBag.Brand ?? "Postworthy";
    ViewBag.Home = true;
    var PrimaryUser = Postworthy.Models.Account.UsersCollection.PrimaryUsers().Where(u => u.IsPrimaryUser).FirstOrDefault();
    var user = Postworthy.Models.Account.UsersCollection.Single(User.Identity.Name);
    var isPrimaryLoggedIn = Request.IsAuthenticated && user != null && user.IsPrimaryUser && user.CanAuthorize;

    Model.ArticleStubs = Model.ArticleStubs.Distinct().Where(x => !Model.ExcludedArticleStubs.Contains(x)).ToList();

    var photoStubs = Model.ArticleStubs.Where(s => s.Link.Authority.ToLower() == "instagram.com").ToList();
    var videoStubs = Model.ArticleStubs.Where(x => x.Video != null);

    Model.ArticleStubs = Model.ArticleStubs.Where(x => !photoStubs.Contains(x)).ToList();
}

<div>
    <div>
        @if (Model != null)
        {
            if (Model.ArticleStubs.Count() > 0)
            {
                var index = 0;
                var featured = Model.FullArticles.FirstOrDefault();
                if(featured != null)
                {
                    var guid = Guid.NewGuid().ToString();
                    System.Web.HttpContext.Current.Cache[guid] = featured.Images.FirstOrDefault() ?? "";
                    @section meta{
                        <meta name="twitter:card" data-page-subject="true" content="summary" />
                        <meta name="twitter:title" data-page-subject="true" content="@featured.TaglessTitle()" />
                        <meta name="twitter:description" data-page-subject="true" content="@featured.TaglessSubTitle()" />
                        <meta name="twitter:image" data-page-subject="true" content="@Url.RouteUrl("default", new RouteValueDictionary(new { action="image", id=guid }), Request.Url.Scheme, Request.Url.Host)" />
                    }
                }
                using (Html.BeginForm())
                {
                    <div class="col-md-8 col-sm-8" style="padding-bottom:20px;">
                        @if (videoStubs.Where(x => x.Video.Authority.ToLower().Contains("youtube") && !string.IsNullOrEmpty(x.Image)).Count() >= 2)
                        {
                            <span class="postIndex"><a href="~/@date.ToShortDateString().Replace('/', '-')/videos">Recent Videos</a></span>
                            <hr style="clear: both;" />
                            var featuredVideos = videoStubs.Where(x => x.Video.Authority.ToLower().Contains("youtube") && !string.IsNullOrEmpty(x.Image)).Take(2);
                            foreach (var stub in featuredVideos)
                            {
                                <div class="col-xs-6 col-sm-6">
                                    <a class="articleTitle" style="display:block;margin-bottom:10px" href="@Url.Content("~/" + date.ToShortDateString().Replace('/', '-') + "/" + stub.GetSlug())">
                                        @if (!string.IsNullOrEmpty(stub.Image))
                                        {
                                            <div class="imageDiv" data-squared="height" style="max-height:150px;width:100%;background-image: url('data:image/png;base64,@stub.Image');" title="@stub.Title.Replace("\"","")">
                                                <div class="hidden-xs">@Html.Raw(stub.Title)</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div style="clear:left;">
                                                @Html.Raw(stub.Title)
                                            </div>
                                        }
                                    </a>
                                </div>
                            }
                            <div style="clear: both; margin: 5px 0px 5px 0px;"></div>
                        }
                        @if(Model.FullArticles!= null && Model.FullArticles.Count > 0)
                        {
                            index = 0;
                            <span class="postIndex" style="padding-top:20px;"><a href="~/Article/Index/0">Recent Articles</a></span>
                            <hr style="clear: both;" />
                            foreach (var full in Model.FullArticles)
                            {
                                ++index;
                                <div class="post box" style="padding-bottom: 20px;@(index % 2 == 0 ? "background: #fdfdfd;" : "")">
                                    @if (!string.IsNullOrEmpty(full.Images.FirstOrDefault()))
                                    {
                                        <div data-squared="height" class="imageDiv @(index % 2 == 0 ? "pull-right" : "")" style="max-width:250px;background-image: url('@full.Images.FirstOrDefault()');width:30%">
                                        </div>
                                    }
                                    <a class="articleTitle" href="~/Article/Details/@(full.UniqueKey.GetHashCode())/@(full.GetSlug())">
                                        @Html.Raw(full.TaglessTitle())
                                    </a>
                                    <p>
                                        @Html.Raw(full.TaglessSubTitle())
                                    </p>
                                    <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
                                </div>
                            }
                            <h2 class="text-center"><a href="~/Article/Index/0">[View All Articles]</a></h2>
                        }
                        <span class="postIndex">Top News</span>
                        <hr style="clear: both;" />
                        @foreach (var stub in Model.ArticleStubs)
                        {
                            ++index;
                            <div class="post box" style="padding-bottom: 20px;@(index % 2 == 0 ? "background: #fdfdfd;" : "")">
                                @if (!string.IsNullOrEmpty(stub.Image))
                                {
                                    <div class="imageDiv" style="background-image: url('data:image/png;base64,@stub.Image');width:50px;height:50px;">
                                    </div>
                                }
                                <a class="articleTitle" href="@stub.Link.ToString()">
                                    @Html.Raw(stub.Title)
                                </a>
                                <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
                            </div>
                        }
                    </div>
                    <div class="col-md-4 col-sm-4">
                        @if (!string.IsNullOrEmpty(PrimaryUser.AdScript))
                        {
                            <span class="postIndex pull-left">Related</span>
                            <hr style="clear: both;" />
                            <div class="box" style="width:100%;overflow:hidden;padding: 5px 0px 5px 0px;">
                                @Html.Raw(PrimaryUser.AdScript)
                            </div>
                        }
                        @if (photoStubs.Count > 0)
                        {
                            int i = 0;
                            <div class="post box clearfix">
                                <span class="postIndex pull-left">Photos</span>
                                <hr style="clear: both;" />
                                @foreach (var stub in photoStubs)
                                {
                                    <a href="@stub.Link.ToString()" title="@stub.Title.Replace("\"","")">
                                        <div class="col-md-6 col-sm-6 col-xs-6" data-squared="height" style="@(i++ % 2 == 0 ? "clear:left;" : "")border: solid 1px #fff;margin:0px;padding:0px;background-size:cover;background-image: url('data:image/png;base64,@stub.Image');">
                                        </div>
                                    </a>
                                    if (i % 10 == 0)
                                    {
                                        break;
                                    }
                                }
                            </div>
                            <a style="display: block; margin-bottom: 10px" href="~/@date.ToShortDateString().Replace('/','-')/photos">[View All Photos]</a>
                        }
                        @if (Model.ArticleStubs.Any(s => s.Video != null))
                        {
                            <div class="post box clearfix">
                                <span class="postIndex pull-left">Videos</span>
                                <hr style="clear: both;" />
                                @foreach (var vs in videoStubs)
                                {
                                    if (vs.Video.Authority.ToLower().Contains("youtube"))
                                    {
                                        <a style="display:block;margin-bottom:10px" href="@Url.Content("~/" + date.ToShortDateString().Replace('/', '-') + "/" + vs.GetSlug())">
                                            @Html.Raw(@vs.Title)
                                        </a>
                                    }
                                    else
                                    {
                                        <a style="display: block; margin-bottom: 10px" href="@vs.Video.ToString()">@Html.Raw(@vs.Title)</a>
                                    }
                                }
                            </div>
                            <a style="display: block; margin-bottom: 10px" href="~/@date.ToShortDateString().Replace('/','-')/videos">[View All Videos]</a>
                        }
                        <div class="post box">
                            <span class="postIndex pull-left">Archives</span>
                            <hr style="clear: both;" />
                            @{
                        Postworthy.Models.Web.ArticleStubIndex articleStubIndex = ViewBag.ArticleStubIndex;
                        var archivedPages = articleStubIndex.ArticleStubPages.OrderByDescending(x => x.Key).Take(10);
                            }
                            @foreach (var kvp in archivedPages)
                            {
                                <a style="display: block; margin-bottom: 10px" href="~/@kvp.Value.Replace('/','-')">@(DateTime.Parse(kvp.Value).ToString("MMMM dd yyyy"))</a>
                            }
                            <a style="display: block; margin-bottom: 10px" href="~/home/archive/all">[View All Archives]</a>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="box col-md-12">
                <div style="padding: 5px;">
                    @if (Request.IsAuthenticated && user != null && user.IsPrimaryUser && user.CanAuthorize)
                    {
                        <h1>
                            Hello, @User.Identity.Name! Welcome to the world of <a href="http://postworthy.org">
                                Postworthy
                            </a>!
                        </h1>
                        <h2>
                            You should run the streaming tool as well as the web content tool so that you can have some content to view.
                            But make sure that you have all the configuration settings correct first. For more information
                            on setting up your site visit the <a href="http://postworthy.org">
                                Postworthy Project
                                Page
                            </a> for setup instructions.
                        </h2>
                    }
                    else
                    {
                        <h1>
                            Sorry no content to view at this time. Please try again later.
                        </h1>
                    }
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/smartResize.js"></script>
    <script src="~/Scripts/squaredUp.js"></script>
    <script>
        $(function () {
            $(".imageDiv div").each(function (i) {
                len = $(this).text().length;
                if (len > 80) {
                    $(this).text($(this).text().substr(0, 80) + '...');
                }
            });
        });
    </script>
}

