@model Postworthy.Models.Web.ArticleStubPage
@using Postworthy.Models.Twitter
@using Postworthy.Models.Core
@{
    DateTime date = ViewBag.Date;
    ViewBag.Title = ViewBag.Brand ?? "Postworthy";
    ViewBag.Home = true;
    var PrimaryUser = Postworthy.Models.Account.UsersCollection.PrimaryUsers().Where(u => u.IsPrimaryUser).FirstOrDefault();
    var user = Postworthy.Models.Account.UsersCollection.Single(User.Identity.Name);
    var isPrimaryLoggedIn = Request.IsAuthenticated && user != null && user.IsPrimaryUser && user.CanAuthorize;

    Model.ArticleStubs = Model.ArticleStubs.Distinct().Where(x => !Model.ExcludedArticleStubs.Contains(x)).ToList();

    var photoStubs = Model.ArticleStubs.Where(s => Postworthy.Web.Controllers.HomeController.IMAGE_DOMAINS.Contains(s.Link.Authority.ToLower())).ToList();
    var videoStubs = Model.ArticleStubs.Where(x => x.Video != null);

    Model.ArticleStubs = Model.ArticleStubs.Where(x => !photoStubs.Contains(x) && !videoStubs.Contains(x)).ToList();

    IEnumerable<Postworthy.Models.Web.ArticleIndex.Index> articles = ViewBag.ArticlesIndex.Articles;
    if (articles != null)
    {
        articles = articles.OrderByDescending(x => x.Published);
    }
}

<div>
    <div>

        @*<div class="box adbox col-md-10 col-md-offset-1" style="padding: 5px 0px 5px 0px;">
                @Html.Raw(Postworthy.Models.Account.UsersCollection.PrimaryUser().AdScript)
            </div>*@

        @if (Model != null)
        {
            if (Model.ArticleStubs.Count() > 0)
            {
                var index = 0;
                var featuredStub1 = Model.ArticleStubs.First();
                var guid = Guid.NewGuid().ToString();
                System.Web.HttpContext.Current.Cache.Add(
                    guid,
                    featuredStub1.Image ?? "",
                    null,
                    DateTime.Now.AddDays(1),
                    System.Web.Caching.Cache.NoSlidingExpiration,
                    System.Web.Caching.CacheItemPriority.Normal,
                    null);
                @section meta{
                    <meta name="twitter:card" data-page-subject="true" content="summary" />
                    <meta name="twitter:title" data-page-subject="true" content="@featuredStub1.Title" />
                    <meta name="twitter:description" data-page-subject="true" content="@featuredStub1.GetSummary(200)" />
                    <meta name="twitter:image" data-page-subject="true" content="@Url.RouteUrl("default", new RouteValueDictionary(new { action="image", id=guid }), Request.Url.Scheme, Request.Url.Host)" />
                }
                using (Html.BeginForm())
                {
                    <div class="col-md-8 col-sm-8" style="padding-bottom:20px">
                        @if (videoStubs.Where(x => x.Video.Authority.ToLower().Contains("youtube")).Any())
                        {
                        <span class="postIndex">Top Videos</span>
                        <hr style="clear: both;" />
                            var featuredVideos = videoStubs.Where(x => x.Video.Authority.ToLower().Contains("youtube")).OrderByDescending(x=> !string.IsNullOrEmpty(x.Image));
                            foreach (var stub in featuredVideos)
                            {
                        <div class="post box" style="padding-bottom: 20px;@(index % 2 == 0 ? "background: #fdfdfd;" : "")">
                            @if (!string.IsNullOrEmpty(stub.Image))
                            {
                                <div data-squared="height" class="imageDiv @(false && /* SHORTED OUT 02/10/2017 */ index % 2 == 0 ? "pull-right" : "")" style="max-width:7.65em;background-image: url('data:image/png;base64,@stub.Image');width:30%;border-bottom-left-radius:45px;border-bottom-right-radius:45px;border-top-left-radius:45px;">
                                </div>
                            }
                            <a class="articleTitle" href="@Url.Content("~/" + date.ToShortDateString().Replace('/', '-') + "/" + stub.GetSlug())">
                                @Html.Raw(stub.Title)
                            </a>
                            <p class="articleSubtitle">
                                @Html.Raw(stub.SubTitle ?? stub.Summary)
                            </p>
                            <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
                        </div>
                        videoStubs = videoStubs.Where(x => x != stub);
                        }
                        <h2 class="text-center"><a href="~/@date.ToShortDateString().Replace('/','-')/videos">[View All Videos]</a></h2>
                        }
                        <span class="postIndex">Top News</span>
                        <hr style="clear: both;" />
                        @foreach (var stub in Model.ArticleStubs.Take(50))
                        {
                            <div class="post box" style="padding-bottom:20px;">
                                <span class="postIndex2">@(++index)</span>
                                @if (isPrimaryLoggedIn)
                                {
                                <button type="submit" class="btn btn-danger btn-xs removeButton" value="@stub.GetSlug()" name="slug">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                }
                                @if (!string.IsNullOrEmpty(stub.Image))
                                {
                                <div class="imageDiv" data-squared="height" style="max-width:7.65em;background-image: url('data:image/jpg;base64,@stub.Image');border-bottom-left-radius:45px;border-bottom-right-radius:45px;border-top-left-radius:45px;">
                                </div>
                                }
                                <a class="articleTitle outbound" href="@stub.Link.ToString()" data-out="@Url.Content("~/out/" + date.ToShortDateString().Replace('/','-') + "/" + stub.GetSlug())" rel="nofollow">
                                    @Html.Raw(stub.Title)
                                </a>
                                <p>
                                    @Html.Raw(stub.GetSummary())
                                </p>
                                <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
                            </div>
                        }
                        @foreach (var stub in Model.ArticleStubs.Skip(50).Take(50))
                        {
                            <div class="post box" style="padding-top:5px;">
                                <span class="postIndex2">@(++index)</span>
                                @if (isPrimaryLoggedIn)
                                {
                                    <button type="submit" class="btn btn-danger btn-xs removeButton" value="@stub.GetSlug()" name="slug">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                }
                                <a class="articleTitle outbound" href="@stub.Link.ToString()" data-out="@Url.Content("~/out/" + date.ToShortDateString().Replace('/','-') + "/" + stub.GetSlug())" rel="nofollow">
                                    @Html.Raw(stub.Title)
                                </a>
                                <div style="clear: both;margin: 5px 0px 0px 0px;"></div>
                            </div>
                        }
                    </div>
                    <div class="col-md-4 col-sm-4">
                        @if (!string.IsNullOrEmpty(PrimaryUser.AdScript))
                        {
                            <span class="postIndex pull-left">Related</span>
                            <hr style="clear: both;" />
                            <div class="box" style="width:100%;overflow:hidden;padding: 5px 0px 5px 0px;">
                                @Html.Raw(PrimaryUser.AdScript)
                            </div>
                        }
                        @if (articles != null && articles.Count() > 0)
                        {
                            <span class="postIndex pull-left">Latest Articles</span>
                            <hr style="clear: both;" />
                            <div class="post box clearfix">
                                @foreach (var item in articles.Take(5))
                                {
                                    <a class="responsiveSidebarText" style="display: block;" href="~/article/@(item.GetSlug())_@(item.ID())">@Html.Raw(item.TaglessTitle())</a>
                                }
                                <a class="responsiveSidebarText" style="display: block;" href="~/articles">[View All Articles]</a>
                            </div>
                            
                        }
                        @if (photoStubs.Count > 0)
                        {
                            int i = 0;
                            <div class="post box clearfix">
                                <span class="postIndex pull-left">Photos</span>
                                <hr style="clear: both;" />
                                @foreach (var stub in photoStubs)
                                {
                                    <a class="outbound responsiveSidebarText" href="@stub.Link.ToString()" title="@stub.Title.Replace("\"","")" rel="nofollow">
                                        <div class="col-md-6 col-sm-6 col-xs-6" data-squared="height" style="@(i++ % 2 == 0 ? "clear:left;" : "")border: solid 1px #fff;margin:0px;padding:0px;background-size:cover;background-image: url('data:image/jpg;base64,@stub.Image');">
                                        </div>
                                    </a>
                                    if (i % 10 == 0)
                                    {
                                        break;
                                    }
                                }
                                <a class="responsiveSidebarText" style="display: block;" href="~/@date.ToShortDateString().Replace('/','-')/photos">[View All Photos]</a>
                            </div>
                            
                        }
                        @if (videoStubs.Any())
                        {
                            <div class="post box clearfix">
                                <span class="postIndex pull-left">Videos</span>
                                <hr style="clear: both;" />
                                @foreach (var vs in videoStubs.OrderByDescending(x => x.Video.Authority.ToLower().Contains("youtube")))
                                {
                                    if (vs.Video.Authority.ToLower().Contains("youtube"))
                                    {
                                        <a class="responsiveSidebarText" style="display:block;margin-bottom:10px" href="@Url.Content("~/" + date.ToShortDateString().Replace('/', '-') + "/" + vs.GetSlug())">
                                            @Html.Raw(@vs.Title)
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="outbound responsiveSidebarText" style="display: block;" href="@vs.Video.ToString()" rel="nofollow">@Html.Raw(@vs.Title)</a>
                                    }
                                }
                                <a class="responsiveSidebarText" style="display: block;" href="~/@date.ToShortDateString().Replace('/','-')/videos">[View All Videos]</a>
                            </div>
                            
                                    }
                        <div class="post box">
                            <span class="postIndex pull-left">Archives</span>
                            <hr style="clear: both;" />
                            @{
                                Postworthy.Models.Web.ArticleStubIndex articleStubIndex = ViewBag.ArticleStubIndex;
                                var archivedPages = articleStubIndex.ArticleStubPages.OrderByDescending(x => x.Key).Take(10);
                            }
                            @foreach (var kvp in archivedPages)
                            {
                                <a class="responsiveSidebarText" style="display: block;" href="~/@kvp.Value.Replace('/','-')">@(DateTime.Parse(kvp.Value).ToString("MMMM dd yyyy"))</a>
                            }
                            <a class="responsiveSidebarText" style="display: block;" href="~/archive">[View All Archives]</a>
                        </div>
                    </div>
                                        }
                                    }
                                }
                                else
                                {
                                    <div class="box col-md-12">
                                        <div style="padding: 5px;">
                                            @if (Request.IsAuthenticated && user != null && user.IsPrimaryUser && user.CanAuthorize)
                                            {
                                                <h1>
                                                    Hello, @User.Identity.Name! Welcome to the world of <a href="http://postworthy.org">
                                                        Postworthy
                                                    </a>!
                                                </h1>
                                                <h2>
                                                    You should run the streaming tool as well as the web content tool so that you can have some content to view.
                                                    But make sure that you have all the configuration settings correct first. For more information
                                                    on setting up your site visit the <a href="http://postworthy.org">
                                                        Postworthy Project
                                                        Page
                                                    </a> for setup instructions.
                                                </h2>
                                            }
                                            else
                                            {
                                                <h1>
                                                    Sorry no content to view at this time. Please try again later.
                                                </h1>
                                            }
                                        </div>
                                    </div>
                                }
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/smartResize.js"></script>
    <script type="text/javascript" src="~/Scripts/squaredUp.js"></script>
    <script type="text/javascript">
        $(".outbound").on("click", function (e) {
            if ($(this).attr("data-out")) {
                document.location = $(this).attr("data-out");
                return false;
            }
        })
    </script>
}