@if (Request.IsAuthenticated)
{
    var user = Postworthy.Models.Account.UsersCollection.Single(User.Identity.Name);
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user @((ViewBag.Account == true) ? "icon-white" : "")"></i> <span class="hidden-phone">@User.Identity.Name</span>
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
            @if (user.IsPrimaryUser)
            {
            <li>
                @Html.ActionLink("Personalize", "Personalization", new { controller = "Account", action = "Personalization", id = UrlParameter.Optional })
            </li>
            <li>
                @Html.ActionLink("Friends", "Friends", new { controller = "Account", action = "Friends", id = UrlParameter.Optional })
            </li>
            }
            <li>
                @Html.ActionLink("Log Off", "LogOff", new { controller = "Account", action = "LogOff", id = UrlParameter.Optional })
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user @((ViewBag.Account == true) ? "icon-white" : "")"></i> Guest
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Log On", "LogOn", "Account")
            </li>
            <li>
                @Html.ActionLink("Register", "Register", "Account")
            </li>
        </ul>
    </li>
}
