@using Postworthy.Web.Models;
@{
    string Brand = ViewBag.Brand;
    if (string.IsNullOrEmpty(Brand))
    {
        Brand = "Postworthy";
    }

    var PrimaryUser = Postworthy.Models.Account.UsersCollection.PrimaryUsers().Where(u => u.IsPrimaryUser).FirstOrDefault();
    var HasArticles = new PostworthyArticleModel(PrimaryUser).HasArticles();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="@("@" + PrimaryUser.TwitterScreenName)" />
    <meta content="@("@" + PrimaryUser.TwitterScreenName)" data-page-subject="true" name="twitter:site" />
    <meta content="@("@" + PrimaryUser.TwitterScreenName)" data-page-subject="true" name="twitter:creator" />
    @RenderSection("meta", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Html.CanonicalUrl()
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="col-md-12col-sm-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="~/">@Brand</a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-home @((ViewBag.Home == true || ViewBag.Article == true || ViewBag.Archive == true || ViewBag.About == true) ? "icon-white" : "")"></i><span class="hidden-xs" style="display: inline !important"> Home</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Content("~/")"></i><span style="display: inline !important"> Front Page</span></a>
                            </li>
                            @if (HasArticles)
                            {
                                <li>
                                    <a href="@Url.Content("~/articles")"><span style="display: inline !important"> Articles</span></a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Content("~/archive")"><span style="display: inline !important"> Archive</span></a>
                            </li>
                            <li>
                                <a href="@(Url.Content("~/about"))"><span style="display: inline !important"> About</span></a>
                            </li>
                        </ul>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

        <footer class="col-md-12 col-sm-12" style="clear:both;padding-top:40px">
            <hr />
            <p>
                &copy; @Brand @DateTime.Now.Year powered by <a target="_blank" href="http://postworthy.org" title="Postworthy - The Open Source Content Curation Tool">Postworthy</a>
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Raw(PrimaryUser.AnalyticsScript ?? "")
    <script type="text/javascript">
        if (typeof ga != 'undefined' && typeof jQuery != 'undefined') {
            jQuery('body').on('click', 'a', function (event) {
                var el = jQuery(this);
                var track = true;
                var href = (typeof (el.attr('href')) != 'undefined') ? el.attr('href') : '';
                var isThisDomain = href.match(document.domain.split('.').reverse()[1] + '.' + document.domain.split('.').reverse()[0]);
                var label = href.replace(/^https?\:\/\//i, '')
                if (href.match(/^https?\:/i) && !isThisDomain) {
                    ga('send', 'event', 'outbound', 'click', label, {
                        'hitCallback':
                            function () {
                                document.location = href;
                            }
                    });
                }
            });
        }
    </script>
</body>
</html>
