
        @if (Request.IsAuthenticated)
        {
            var user = Postworthy.Models.Account.UsersCollection.Single(User.Identity.Name);
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user @((ViewBag.Account == true) ? "icon-white" : "")"></i> <span class="hidden-xs" style="display:inline-block !important">@User.Identity.Name</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    @if (user != null && user.IsPrimaryUser)
                    {
                        <li>
                            @Html.ActionLink("Personalize", "Personalization", new { controller = "Account", action = "Personalization", id = user.TwitterScreenName })
                        </li>
                        <li>
                            @Html.ActionLink("Friends", "Friends", new { controller = "Account", action = "Friends", id = user.TwitterScreenName })
                        </li>
                    }
                    <li>
                        @Html.ActionLink("Log Off", "LogOff", new { controller = "Account", action = "LogOff", id = "0" })
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user @((ViewBag.Account == true) ? "icon-white" : "")"></i> Guest
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { id="new" }, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log On", "LogOn", "Account", routeValues: new { id="existing" }, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </li>
        }
      