@model Postworthy.Web.Models.ItemData
@{
    Postworthy.Models.Twitter.ITweet tweet = Model.Model;
    int index = Model.index;
    bool isTop10 = Model.isTop10;
    bool isTop20 = Model.isTop20;
    bool isTop30 = Model.isTop30;
    Postworthy.Models.Core.UriEx randomImage = Model.randomImage;
    bool hasVideo = Model.hasVideo;
    string topN = Model.topN;
    int RetweetThreshold = Postworthy.Models.Account.UsersCollection.PrimaryUser().RetweetThreshold;
}
<!--STATUS_ID: @tweet.StatusID -->
<li class="box colFull@(tweet.RetweetCount > RetweetThreshold && tweet.RetweetCount < 15 ? " newest" : "")@(topN)">
    <div style="padding: 5px;">
        <a target="_blank" href="@tweet.User.Url" title="@tweet.User.Identifier.ScreenName">
            <img alt="@tweet.User.Identifier.ScreenName" title="@tweet.User.Identifier.ScreenName" src="@tweet.User.ProfileImageUrl" class="profile-image-small" />
        </a>
        <div class="tweet-info">
            Created @tweet.TweetTime
            <br />
            <i class="icon-retweet"></i>@((tweet.RetweetCount > 0) ? tweet.RetweetCount + " Retweets" : "Not yet retweeted")
            [<a title="Retweet This" href="@(Url.Content("~/mobile/retweet/" + tweet.StatusID))"><b>Retweet</b></a>]
        </div>
        <span class="postIndex">#@index</span>
        <hr style="clear: both;" />
        @if (randomImage != null)
        {
            <div class="tweet-image-div">
                <img src="@randomImage.Image.ToString()" />
            </div>
        }
        @if (isTop10)
        { 
            <h3 class="tweettext">@Html.Raw(tweet.TweetText)</h3>
        }
        else if (isTop20)
        { 
            <h4 class="tweettext">@Html.Raw(tweet.TweetText)</h4>
        }
        else if (isTop30)
        { 
            <h5 class="tweettext">@Html.Raw(tweet.TweetText)</h5>
        }
        else
        {
            @Html.Raw(tweet.TweetText)
        }
        @if (hasVideo)
        {
            <hr style="clear: both;" />
            foreach (var link in tweet.Links.Where(l => l.Video != null))
            {
            <iframe width="290" height="215" src="@link.Video.ToString()?wmode=transparent" frameborder="0" allowfullscreen>
            </iframe>
            }
        }
        @if (tweet.Links.Where(l => l.Image == null && l.Video == null).Count() > 0)
        {
            <hr style="clear: both;" />
            var links = tweet.Links.Where(l => l.Image == null && l.Video == null).Distinct();
            foreach (var link in links)
            {
            <div>
                <a target="_blank" href="@link.Uri">@link.Title</a></div>
            }
        }
    </div>
</li>
